<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="LGTM.All_Enquiries"/>
      <class name="LGTM.Global_registration"/>
      <class name="LGTM.All_Enquiries_search"/>
      <class name="LGTM.My_Enquiries"/>
      <class name="LGTM.New_Enquiry"/>
      <class name="LGTM.Global_Search"/>
      <class name="LGTM.My_Enquiries_serach"/>
      <class name="LGTM.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
